<% provide(:title, "Home") %>
<div class="container">
  <% if logged_in? %>
    <%= render 'shared/main_grid' %>
  <% else %>
    <div class = "center">
    	<h1> fileio welcomes you to power up your enterprise with reliable and secure file storage. </h1>
    	<%= link_to "Login", login_path, class: "btn btn-lg btn-primary fileio-color" %>
    	<%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary fileio-color" %>
    </div>
  <% end %>
</div>
