<!-- display the error messages -->
<div class = "row">
	<div class = "col-md-4 col-md-offset-4">
		<h1> Login Form  </h1>	
		  <%= form_for(:session, url: login_path) do |f| %>
		      <%= f.label :email %>
		      <%= f.email_field :email %>

		      <%= f.label :password %>
		      <%= f.password_field :password %>

		      <%= f.submit "Login to my account", class: "btn btn-primary fileio-color" %>
		  <% end %>
	</div>
</div>
