<div class = "row">
	<div class = "col-md-3">
	</div>
	<div class = "col-md-6">
		<section>
			<h1> <%= @user.name %>, <%= @user.email %> </h1>
		</section>
	</div>
	<div class = "col-md-3">
	</div>
</div>