<!-- display the error messages -->
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <h1> Data File Uploader Form  </h1>
      <%= form_for(@data_file), :html => {:multi_part => true} do |f| %>
          <%= render 'shared/error_messages', :object => f.object %>
          <%= f.label :filename %>
          <%= f.text_field :filename %>
          
          <%= f.label :file %>
          <%= f.file_field :file %>

          <%= f.submit "Upload the file", class: "btn btn-primary fileio-color" %>
      <% end %>
  </div>
</div>
