
<% if object.errors.any? %>
	<div class = "row">
		<div class = "col-md-6 col-md-offset-3">
			<h1> You have <%= pluralize(object.errors.count, "error") %> </h1> 
			<ul>
				<% object.errors.full_messages.each do |msg| %>
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

