<% if flash.any? %>
	<div class = "row">
		<div class = "col-md-6 col-md-offset-3">
		<ul>
			<% flash.each do |msg_type, msg| %>
			<li> <%= msg_type %><%= msg %> </li>
			<% end %>
		</ul>
		</div>
	</div>
<% end %>
