@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
	-moz-box-sizing:	border-box;
	-webkit-box-sizing: border-box;
	box-sizing:	border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;	
} 

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 2.1em;
	color: white;
	text-transform: lowercase;
	letter-spacing: 1px;
	padding-top: 9px;
}

.navbar-custom {
	color: white;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid brown;
  color: #7C1D1D;	
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  float: left;
  margin-left: 15px;
}

footer a:hover {
  color: white;	
}

/* universal */

body {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  border: none;
}

h1 {
	line-height: 1;
	font-size: 1.7em;
}

.center {
	text-align: center;
}

/* mystyles */

.fileio-color {
	background:	#7C1D1D;
	color: white;
	border-color: brown;
}
