	
<div class="col-md-6 col-md-offset-0">
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">+
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Folder</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">New File</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Group</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">New Admin</a></li>
					</ul>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Group
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li role="presentation">
              <a role="menuitem" tabindex="-1" href="<%= new_admin_user_group_url %>">User, Group Subscribe</a>
            </li>
						<li role="presentation">
              <a role="menuitem" tabindex="-1" href="#">User, Group Un-subscribe</a>
            </li>
					</ul>
				</div>
			</li>
    </ul>
	</div>
	<table class = "table table-hover">
		<caption> Browse Files </caption>
		<thead>
			<tr>
				<th> File Name </th>
				<th> Uploaded By </th>
				<th> Size (B) </th>
				<th> Group Name </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td> ABC </td>
				<td> ATHI </td>
				<td> 1024 </td>
				<td> XYZ </td>
			</tr>
		</tbody>
	</table>
</div>
