<div class = "col-md-2 col-md-offset-1">
	<h1> Folders </h1>
  <% cf = current_folder %>

  <% if cf.nil? %>
    <p> No folders present </p>
  <% else %>
    <ul>
      <% cf.current_directory.each do |folder| %>
        <%= folder.folder_name.to_s %>
      <% end %>
    </ul>
  <% end %>
</div>
