<footer class = "footer navbar navbar-fixed-bottom fileio-color">
	<div class = "container">
		<nav>
			<ul>
				<li> <%= link_to "Contact", "mailto:RUBAN.ATHI@GMAIL.COM", class: "navbar-custom" %> </li>
				<li> <%= link_to "BitBucket", "#", class: "navbar-custom" %> </li>
			</ul>
		</nav>
	</div>
</footer>