<header class = "navbar navbar-fixed-top fileio-color">
	<div class = "container">	
		<%= link_to "fileio", root_url, id: "logo" %>
		<nav>
		<!-- There are three types of users : admin, default, manager/end user -->
			<ul class = "nav navbar-nav navbar-right">
				<li> <%= link_to "Home", root_url, class: "navbar-custom" %> </li>
			<% unless is_logged_in? %>
				<li> <%= link_to "Features", "#", class: "navbar-custom" %> </li>
				<li> <%= link_to "Demo", demo_path, class: "navbar-custom" %> </li>
				<li> <%= link_to "About", about_path, class: "navbar-custom" %> </li>
			<% else %>
				<li class = "dropdown"> 
					<a href = "#" class = "dropdown-toggle navbar-custom" data-toggle = "dropdown">
					  Account <b class = "caret"></b>
					</a>
					<ul class = "dropdown-menu">
					  <li> <%= link_to "Profile", '#', class: "navbar-custom" %> </li>
					  <li> <%= link_to "Settings", '#', class: "navbar-custom" %> </li>
					  <li class = "divider"></li>
					  <li> <%= link_to "Logout", logout_path, class: "navbar-custom" %> </li>
					</ul>
				</li>
			<% end %> 
			</ul>
		</nav>
	</div>
</header>